.place__image {
    max-width: 460px;
    display: block;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .place__image {
        max-width: 440px;
        width: 100%;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .place__image {
        margin: 0px 0px;
        max-width: 96%;
    }
}

@media (max-width: 424px) {
    .place__image {
        max-width: 100%;
    }
}