.header {
    display: flex;
    justify-content: space-between;
    padding: 28px 48px 56px;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .header {
        padding: 28px 30px 56px;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .header {
        padding: 10px 30px 56px;
    }
}