.lead__caption {
    width: 160px;
    height: 14px;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin: 0px;
    margin-top: 8px;
    align-self: flex-start;
}

@media (min-width: 426px) and (max-width: 768px) {
    .lead__caption {
        margin: 10px auto 0 24px;
        max-width: 100%;
    }
}

@media (max-width: 425px) {
    .lead__caption {
        margin: 0 auto 0 16px;
        max-width: 100%;
    }
}