.intro__title {
    max-width: 690px;
    max-height: 58px;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    margin: 0px 0px 40px 0px;
}

@media (min-width:426px) and (max-width: 768px) {
    .intro__title {
        font-size: 40px;
        line-height: 50px;
    }
}

@media (max-width: 425px) {
    .intro__title {
        max-width: 87%;
        font-size: 32px;
        line-height: 35px;
        margin: 0px 0px 49px 0px;
    }
}